---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="w-full gap-8 sm:max-w-xl mx-auto sm:px-24 font-light text-zinc-900 flex flex-col"
  >
    <h1 class="text-xl leading-relaxed" id="h1">
      Welcome to Yum — Your Gateway to Easy and Minimalist Cooking
    </h1>

    <p class="font-sans text-sm leading-relaxed" id="p1">
      At Yum, we believe that the art of cooking should be
      accessible, enjoyable, and, most importantly, simple. Our website is
      dedicated to bringing you an array of recipes that are not only easy to
      follow but also require minimal ingredients.
    </p>
    <p class="font-sans text-sm leading-relaxed" id="p2">
      We understand that in today’s fast-paced world, time is a luxury, and we
      aim to make your time in the kitchen as efficient and enjoyable as
      possible.
    </p>
    <p class="font-sans text-sm leading-relaxed" id="p3">
      Our commitment is to keep the content fresh, exciting, and easy to
      approach. We update our collection regularly with new recipes, each
      crafted to ensure simplicity and delicious results. Whether you're a
      seasoned chef or just starting out, there’s always something new to
      discover at Yum.
    </p>

    <footer class="text-xs text-left italic flex flex-col gap-2" id="s2">
      <p>Created by <span class="text-orange-700">Stephen Finegan</span></p>
       <p>Built with <span class="text-indigo-700">Astro</span> & <span class="text-green-700">GSAP</span></p>
    </footer>
  </main>
</Layout>
